.messages
- @group.messages.each do |message|
  .message-user 
    = message.user.name
  .message-time 
    = message.created_at
  .message-text
    = message.body
    %br
    = image_tag message.image if message.image?
