.layout-notice 
    %p チャットグループが作成されました

 .chat
   .chat-side
     .chat-user clearfix
       .chat-user__actions
     .cagt-groups
       .chat-group__link
         .chat-group__name
         .chat-group__message
   .chat-main
     .chat-header clearfix
       .chat-header__left
         .chat-header__users
           .chat-header__users
       .chat-header__right
         .chat-header__edt-btn
     .chat-body
       .chat-messages
     .chat-foter
       .new_message
         .chat-fooer__body
           .chat-footer__file
             .fa fa-image
         .submit    
