.chat
  .chat-side
    .chat__user
      %p shirasaka
      %i.fa.fa-cog.icon-cog
      = link_to (new_group_path) do
        %i.fa.fa-edit.icon-edit
    .chat__group-name
      .user-name shirasaka
      .user-text 先が遠い
  .chat-main
    .chat-header
      .chat-header--left
        %p sample group
        .group-members hayato shirasaka
      .chat-header--right
        .button Edit
    .chat__message--display
      .message-user shirasaka
      .message-time 2016/11/21
      .message-text i see
    .chat__message--input
      .message-body
        .message-type メッセージを入力してください
        %i.fa.fa-photo.icon-photo
      .button
        %p Send
