.chat
  .layout-notice チャットグループが作成されました
  .chat-side
    .chat__user
      %p shirasaka
      %i.fa.fa-con.icon-cog
      %i.fa.fa-edit.icon-edit
    .chat__group-name
      .user-name shirasaka
      .user-image aaa
    .chat-main
      .chat-header
        .chat-header--left
          %p sample group
          .group-members aa
        .chat-header--right
          .chat-header__edut-btn Edit
      .chat__message--written
        .message-user ryosuke
        .message-time aa
        .message-text aaa
      .chat__message--write
        .message-body
          .message-type aaa
          %i.fa.fa-photo.icon-photo
        .send-button
          %p Send        
