.chat {
  margin: 0;
  padding: 0;
  .layout-notice{
    height: 30px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #fff;
    display: block;
    font-weight: 200px;
    text-align: center;
    background-color: #38aef0;
  }
  .chat-side {
    width: 15%;
    display: inline-block;
    float: left;
    .chat__user {
      background-color: #253141;
      height: 96px;
      padding: 35px 20px;
      box-sizing: border-box;
      p {
        line-height: 16px;
        color: #FFFFFF;
        font-weight: bold;
        display: inline-block;
      }
      i.icon-cog {
        float: right;
      }
      i.icon-edit {
        float: right;
      }
    }
    .chat__group-name {
      height: 500px;
      clear: both;
      background-color: #2f3e51;
      padding: 20px 20px 0;
      background-size: border-box;
      .user-name {
        font-size: 11px;
        color: #FFFFFF;
        padding-bottom:40px;
      }
    }
  }
}
