.chat {
  margin: 0;
  padding: 0;
  min-width: 980px;

  .layout-notice{
    height: 30px;
    line-height: 30px;
    letter-spacing: 1px;
    color: $white-plane;
    display: block;
    font-weight: 200;
    text-align: center;
    background-color: $blue-light;
  }

  .chat-side {
    width: 300px;
    height: 100%;
    display: inline-block;
    float: left;

    .chat__user {
      background-color: #253141;
      height: 96px;
      padding: 35px 20px;
      box-sizing: border-box;

      p {
        line-height: 16px;
        color: $white-plane;
        font-weight: bold;
        display: inline-block;
      }

      i.icon-cog {
        float: right;
        color: $white-plane;
      }

      i.icon-edit {
        float: right;
        color: $white-plane;
      }
    }

    .chat__groups {
      margin: 0;
      padding: 0;
      clear: both;
      background-color: #2f3e51;
      padding: 20px 20px 0;
      list-style: none;

      .group-link {
        display: block;
        color: $white-plane;

        &:hover {
          background-color: #384a62;
        }
      }

      .group-name {
        display: inline-block;
        font-size: 15px;
        color: $white-plane;
        padding-bottom:5px;
      }

      .group-text {
        font-size: 11px;
        color: $white-plane;
        padding-bottom: 30px;
      }
    }
  }

  .chat-main {
    width: calc(100% - 300px);
    float: left;
    height: 100%;

    .chat-header {
      height: 96px;
      padding:0 40px;
      box-sizing: border-box;
      border-bottom: 1px solid #eee;

      .chat-header--left {
        display: inline-block;

        p {
          float:left;
          margin-top: 20px;
          margin-bottom: 15px;
          font-size: 20px;
        }

        .group-members {
          clear: both;
          font-size: 12px;
          color: $gray-thin;
        }
      }

      .chat-header--right {
        width: 100px;
        float: right;
        padding: 28px 0;

        .button {
          padding: 0 20px;
          border: 2px solid;
          line-height: 40px;
          font-size: 14px;
          color: $blue-light;
          height: 40px;
          float: right;
        }
      }
    }

    .chat__message--display {
      position: relative;
      background-color: #FAFAFA;
      padding: 46px 40px 0px 40px;
      border-top: #eee;
      box-sizing: border-box;
      overflow: scroll;

      .messages {
        position: absolute;
        right: 40px;
        left: 40px;
        padding: 0;
        list-style: none;
      }

        .message-user {
          font-size: 16px;
          font-weight: bold;
          color: black-normal;
          line-height: 10px;
          float: left;
        }

        .message-time {
          font-size: 12px;
          color: $gray-thin;
          float: left;
          margin-left: 10px;
          line-height: 10px;
        }

        .message-text {
          font-size: 14px;
          color: $gray-thin;
          clear: both;
          padding-top: 10px;
          padding-bottom: 40px;
        }
      }

    .chat__message--input {
      bottom: 0px;
      right: 0px;
      left: 0px;
      height: 90px;
      padding: 20px 40px;
      overflow: hidden;
      box-sizing: border-box;
      background-color: #ddd;

      .message-body{
        position: relative;
        background-color: $white-plane;
        width: 80%;
        min-width: 485px;
        height: 50px;
        padding: 0 10px;
        display: inline-block;
        box-sizing: border-box;

        .message-type {
          font-size: 16px;
          line-height: 16px;
          color: black-normal;
          padding: 17px 0;
          box-sizing: border-box;
          float: left;
          height: 50px;
          width: 90%;
          border: none;
        }

        i.fa.fa-image{
          position: relative;
          margin: 17px 10px 17px 0;
          float: right;
          right: 50px;
        }
      }

      .send-button {
        background-color: $blue-light;
        float: right;
        height: 50px;
        width: 100px;
        margin-left: 15px;
        color: white;
        border: none;

        p {
          line-height: 16px;
          padding: 17px;
          text-align: center;
          }
        }
      }
    }
  }
